html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    line-height: 1.5;
    font-size: 16px;
    font-family: Arial Bold, Arial, Helvetica, sans-serif;  
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

p, ul, ol, pre, table, blockquote, figure {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

sub, sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.25rem;
}

code {
    background-color: #f0efef;
    border-radius: 3px;
    font-family: monospace;
    padding: 3px;
}

h1, .type-alpha, h2, .type-beta, h3, .type-gamma, h4, .type-delta, h5, .type-epsilon, h6, .type-zeta {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial Bold, Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1.2;
    margin: 1.25em 0 0.5em;
}

h1, .type-alpha {
    font-size: 4.75rem;
}

h2, .type-beta {
    font-size: 3.375rem;
}

h3, .type-gamma {
    font-size: 2.25rem;
}

h4, .type-delta {
    font-size: 1.75rem;
}

h5, .type-epsilon {
    font-size: 1.25rem;
}

h6, .type-zeta {
    font-size: 1.125rem;
}

.caps {
    text-transform: uppercase;
}

html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body { /*body background color of webpage*/
    background-color: #205A99;
    color: white;
    font-family: Arial Bold, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    overscroll-behavior: none;
    width: 100%;
}

@-webkit-keyframes pulse {
    to {
        -webkit-box-shadow: 0 0 0 0.2em transparent, 0 0 0 0.6em rgba(233, 28, 116, 0);
        box-shadow: 0 0 0 0.2em transparent, 0 0 0 0.6em rgba(233, 28, 116, 0);
    }
}

@keyframes pulse {
    to {
        -webkit-box-shadow: 0 0 0 0.2em transparent, 0 0 0 0.6em rgba(233, 28, 116, 0);
        box-shadow: 0 0 0 0.2em transparent, 0 0 0 0.6em rgba(233, 28, 116, 0);
    }
}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.menu {
    left: 1em;
    opacity: 0;
    position: fixed;
    top: 1em;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 999;
}

.menu.-visible {
    opacity: 1;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
}

/*.menu__logo svg path, .menu__logo svg polyline {
    -webkit-transition: fill 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
}

.menu__logo:hover svg path, .menu__logo:hover svg polyline {
    fill: #ab9566;
}*/

.intro {
    background-color: #1d1e1e;
    bottom: 0;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    min-width: 280px;
    max-width: 500px;
    position: fixed;
    top: 0;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    z-index: 1000;
}

.intro.-visible {
    -webkit-box-shadow: 2px 8px 124px -26px #0000005e;
    box-shadow: 2px 8px 124px -26px #0000005e;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.intro__top {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: calc(2em + 0.4vw);
}

.intro__headline {
    color: #ab9566;
    display: inline-block;
    font-size: calc(30px + 1vw);
    letter-spacing: 0.05em;
    margin: 1.25em 0;
    text-transform: uppercase;
}

.intro__headline:after {
    background-color: #ab9566;
    content: '';
    display: block;
    height: 0.25em;
    margin: 0.5em 0 1em;
}

.intro__sub-headline {
    color: #ab9566;
    display: block;
    font-size: calc(8px + 0.2vw);
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
}

.intro__body p {
    font-size: calc(8px + 0.5vw);
    font-weight: 400;
    line-height: 1.8;
}

.intro__toggle {
    background-color: transparent;
    border: 2px solid;
    -o-border-image: linear-gradient(#d02eb0, #ec448d) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#d02eb0), to(#ec448d)) 1;
    border-image: linear-gradient(#d02eb0, #ec448d) 1;
    color: #2a2b47;
    cursor: pointer;
    font-size: calc(7px + 0.2vw);
    font-weight: 900;
    letter-spacing: 0.2em;
    margin-top: 4em;
    outline: none;
    padding: 1em 4em;
    position: relative;
    text-transform: uppercase;
}

/*.intro__toggle:after {
    background: url(data:image/svg+xml;base64,==) no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: block;
    height: 1.5625em;
    right: 0;
    position: absolute;
    -webkit-transform: translate(75%, -50%);
    transform: translate(75%, -50%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    top: 50%;
    width: 9.375em;
}

.intro__toggle:hover {
    -o-border-image: linear-gradient(#ec448d, #d02eb0) 1;
    border-image: -webkit-gradient(linear, left top, left bottom, from(#ec448d), to(#d02eb0)) 1;
    border-image: linear-gradient(#ec448d, #d02eb0) 1;
}

.intro__toggle:hover:after {
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}*/

.intro__footer {
    background-color: #1d1e1e;
    padding: 1em 2em;
}

.intro__footer P {
    font-size: calc(8px + 0.2vw);
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 4.7em;
    text-transform: uppercase;
    margin: 0;	
    text-align: center;
}

.intro__footer .icon {
    height: auto;
    max-width: 100%;
    margin-right: 1em;
    vertical-align: middle;	
}

.outro {
    background-color: #1d1e1e;
    bottom: 0;
    color: #2a2b47;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    right: 0;
    min-width: 280px;
    max-width: 500px;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    z-index: 1000;
}

.outro.-visible {
    -webkit-box-shadow: 2px 8px 124px -26px #0000005e;
    box-shadow: 2px 8px 124px -26px #0000005e;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.outro__top {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: calc(2em + 0.4vw);

}

.outro__headline {
    color: #ab9566;
    display: inline-block;
    font-size: calc(22px + 0.5vw);
    margin: 0.25em 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.outro__headline:after {
    background-color: #ab9566;
    content: '';
    display: block;
    height: 0.25em;
    margin: 0.5em 0 1em;
}

.outro__links li {
    font-size: calc(24px + 1vw);
    font-weight: 900;
    margin: 0.15em 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
	text-decoration: none;
}

.outro__links li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.outro__links li a:hover, .outro__links li a:visited  {
    color: #a0a19f;
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em);
	text-decoration: none;
}

.outro__footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ab9566;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em 2em;
    text-decoration: none;
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.outro__footer:hover, .outro__footer:visited {
    background-color: #ab9566;
	text-decoration: none;
}

/*.outro__footer:hover .outro__footer-icon svg {
    -webkit-transform: translateX(0.5em);
    transform: translateX(0.5em);
}*/

.outro__footer P {
    font-size: calc(10px + 0.2vw);
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

.outro__footer-text {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
	text-align: center;
}

/*.outro__footer-icon {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
}*/

/*.outro__footer-icon svg {
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}*/

.callout {
    max-width: 34.375em;
    min-width: 17.5em;
    padding: 1em;
    position: absolute;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5%;
    z-index: 20;	
}

/*.callout-3-3 {
    max-width: 54.375em;
    min-width: 17.5em;
    padding: 1em;
    position: absolute;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 10%;
    z-index: 20;
}*/

.callout-3-3 {
	/* width: 5%; */
    /* z-index: 20; */    
    padding: 1em;
	width: fit-content;
	-webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    max-width: 50em;
	position: absolute;
	text-align: left;
    text-align-last: left;
    word-break: keep-all;
}

.callout__headline {
    cursor: pointer;
    font-size: calc(22px + 0.6vw);
    margin: 0;
    margin-top: -20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.callout-3-3__headline {
    cursor: pointer;
    /* font-size: calc(22px + 0.6vw); */
    /* letter-spacing: 0.04em; */
    margin: 0;
    margin-top: -20px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.callout__headline:after, .callout-3-3__headline:after {
	/* -webkit-animation: pulse 1.5s infinite cubic-bezier(0.5, 0, 0.1, 1); */
    /* animation: pulse 1.5s infinite cubic-bezier(0.5, 0, 0.1, 1); */
    background-color: #c03039;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* border-radius: 100%; */
    /* border: none; */
    /* -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(171, 149, 102, 0.8); */
    /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(192, 48, 57, 0.8); */
    color: #fff;
    content: '';
    cursor: pointer;
    display: block;
    font-size: 0.5em;
    font-weight: 400;
    height: 1.5em;
    left: -0.75em;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    top: -0.75em;
    /* -webkit-transform: translate3d(0, 0, 0); */
    /* transform: translate3d(0, 0, 0); */
    width: 1.5em;
    z-index: -1;
    max-width: inherit;
    max-height: inherit;
}

.callout__headline:hover, .callout-3-3__headline:hover {
	/* color: #dcf4f3; */    
    /*font-size: calc(22px + 1.6vw);*/    
    /* font-size: 30px; */
	text-decoration: none;
	color: #ffffff;
    text-align: left;
    text-align-last: left;
    word-break: keep-all;
	
}

.callout__body, .callout-3-3__body {
	color: #ffffff;
/*Cleaning the code*/	
    /* color: #4a4a4c;*/
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    -webkit-transition: all 1.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: none; 
}

.callout__body p {
    font-size: calc(10px + 0.5vw);
	/*display: none;*/
}

.callout-3-3__body p {
    font-size: calc(10px + 0.5vw);
	/*width: 100vw;*/
}

.callout__body.-visible, .callout-3-3__body.-visible {
	opacity: 1;
    margin-top: 1em;
    margin-bottom: -2em;
	display: block;
/*cleaning the code*/		
    /*margin-top: 1em;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;*/    
}

/*.callout-3-3__body.-visible {
    opacity: 1;
    margin-top: 1em;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    display:block;
    margin-top: -660px;
}*/

.callout-3-3__body.-visible {
/*cleaning the code*/	
	/*opacity: 1;
	display: block;
	width: 100vw;*/    
	margin-top: 1em;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    
	
}

.callout__aside {
    background-color: #252627;
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 1.5em;
    position: absolute;
    top: 0px;
    width: 100%;
    visibility: hidden;
    z-index: -2;
}

.callout__aside-headline {
    color: #ab9566;
    font-size: calc(8px + 0.2vw);
    font-weight: 900;
    letter-spacing: 0.2em;
    margin-bottom: 2em;
    margin-top: 0;
    text-transform: uppercase;
}

.callout__aside-headline:not(:first-child) {
    margin-top: 3em;
}

.callout__aside p {
    font-size: calc(8px + 0.4vw);
	color: #ffffff;
}

.callout__aside-cta {
    background-color: transparent;
    border: 1px solid #a3e1e0;
    color: white;
    display: inline-block;
    font-size: calc(6px + 0.4vw);
    padding: 0.35rem 1rem;
    margin: 0.2em 0;
    text-decoration: none;
}

.callout__aside-cta:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-color: white;
    background-color: white;
    color: #ffffff;
	text-decoration: none;
}

.callout__aside.-visible {
	-webkit-box-shadow: 2px 8px 124px -26px #0000005e;
    box-shadow: 2px 8px 124px -26px #0000005e;
    left: 100%;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
    /* visibility: visible; */
    display: none;
}

.callout:before {
	background-color: #ab9566;
    /* -webkit-box-shadow: 2px 8px 124px -26px #0000005e; */
    /* box-shadow: 2px 8px 124px -26px #0000005e; */
    content: '';
    display: block;
    height: 0%;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    top: 0;
    width: 0%;
    z-index: -1;
}

.callout-3-3:before {
    background-color: #ab9566;
    /* -webkit-box-shadow: 2px 8px 124px -26px #0000005e; */
    /* box-shadow: 2px 8px 124px -26px #0000005e; */
    content: '';
    display: block;
    height: 0%;
    left: 0;
    margin-top: 0px;
    position: absolute;
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    top: 0;
    width: 0%;
    z-index: -1;
	max-width: inherit;
    max-height: inherit;
	text-align: left;
    text-align-last: left;
    word-break: keep-all;
}

.callout.-active, .callout-3-3.-active {
	padding: 3em 1em;
    /*width: fit-content;*/
	width: 100vw;	
}

.callout__headline, .callout-3-3__headline, .callout.-active, .callout-3-3.-active {
    color: #ffffff;	
	text-shadow: 0.5px 0.5px 0.5px #000000;
}

/*.callout.-active, .callout__headline {
    color: #ffffff;	
     color: #4a4a4c; 
    width: inherit;
}*/

/*.callout-3-3.-active, .callout-3-3__headline {
    color: #ffffff;	
     color: #4a4a4c; 
    width: 100vw;
}*/

/*.callout.-active, .callout__headline:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}*/

.callout.-active, .callout__headline:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*.callout-3-3.-active, .callout-3-3__headline:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}*/

.callout-3-3.-active, .callout-3-3__headline:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.callout.-active:before {
    height: 100%;
    width: 100%;
	top: 0px;
    max-width: inherit;
    max-height: inherit;
}

.callout-3-3.-active:before {
    height: 100%;
    width: 100vw;
    top: 0px;
    max-width: inherit;
    max-height: inherit;
}

#callout-1 {
	left: 8.8%;
    top: 8%;
    z-index: 1003;
}

#callout-2 {
    left: 27.5%;
    top: 12%;
    z-index: 1002;
}

#callout-3 {
    left: 47%;
    top: 31%;
    z-index: 1001;
}

#callout-4 {
    left: 51%;
    top: 7%;
    z-index: 1000;
}

#callout-5 {
    left: 56.9%;
    top: 30%;
    z-index: 999;
}

#callout-6 {
    left: 60.9%;
    top: 47%;
    z-index: 998;
}

/*#callout-7 {    
    left: 24.9%;
    top: 18.9%;
    z-index: 997;
}*/

#callout-8 {
    left: 79%;
    top: 70%;
    z-index: 991;
}

#callout-9 {
    left: 64.3%;
    top: 32%;
    z-index: 995;
}

#callout-10 {
    left: 69.3%;
    top: 44%;
    z-index: 994;
}

/*#callout-11 {
    left: 72.5%;
    top: 41%;
    z-index: 992;
}*/

#callout-12 {    
    left: 71%;
    top: 11%;
    z-index: 993;
}

#callout-13 {    
    left: 76.5%;
    top: 30%;
    z-index: 991;
}

#callout-14 {    
    left: 81.5%;
    top: 24%;
    z-index: 990;
}

#callout-15 {
    left: 85%;
    top: 32%;
    z-index: 989;
}

#callout-16 {    
    left: 72.8%;
    top: 72%;
    z-index: 988;
}

#callout-17 {
    left: 88.8%;
    top: 13%;
    z-index: 987;
}

/*#callout-18 {
    left: 85.6%;
    top: 54%;
    z-index: 986;
}*/

#callout-19 {
    left: 80%;
    top: 72%;
	z-index: 985;
}

.bubble {
    background-color: #ede1b2;
    border-radius: 1em;
    color: #000000;
    font-size: calc(8px + 0.4vw);
    min-width: 12.5em;
    opacity: 0;
    padding: 1em;
    position: absolute;
    width: 2%;
    z-index: 10;
}

.bubble.-visible {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

.bubble--top-right:before {
    border-width: 0 0 2.5em 2.5em;
    border-color: transparent transparent #ede1b2 transparent;
    right: 0;
    top: -1.5625em;
}

.bubble--top-left:before {
    border-width: 2.5em 0 0 2.5em;
    border-color: transparent transparent transparent #ede1b2;
    left: 0;
    top: -1.5625em;
}

.bubble--bottom-left:before {
    border-width: 2.5em 2.5em 0 0;
    border-color: #ede1b2 transparent transparent transparent;
    left: 0;
    bottom: -1.5625em;
}

.bubble--bottom-right:before {
    border-width: 0 2.5em 2.5em 0;
    border-color: transparent #ede1b2 transparent transparent;
    right: 0;
    bottom: -1.5625em;
}

.bubble:before {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

#bubble-1 {
    left: 11.2%;
    top: 32%;
}

#bubble-2 {
    left: 12.3%;
    top: 73.3%;
    width: 2.5%;
}

#bubble-3 {
    left: 17.5%;
    top: 52%;
    width: 2.6%;
}

#bubble-4 {
    left: 23.3%;
    top: 36%;
    width: 2.2%;
}

#bubble-5 {
    left: 31.8%;
    top: 29%;
    width: 2.4%;
}

#bubble-6 {
    left: 42.3%;
    top: 49%;
    width: 2.4%;
}

#bubble-7 {
    left: 48.5%;
    top: 49%;
    width: 2.1%;
}

#bubble-8 {
    left: 50.9%;
    top: 54%;
    width: 2.1%;
}

#bubble-9 {
    left: 87.9%;
    top: 75.5%;
    width: 2.4%;
}

#bubble-10 {
    left: 86.7%;
    top: 19%;
    width: 2.4%;
}

#bubble-11 {
    left: 91.6%;
    top: 74.5%;
    width: 2.4%;
}

/*#bubble-12 {
    left: 90.5%;
    top: 47%;
    width: 2.4%;
}*/

body {
    position: relative;
}

.content {
    height: 100vh;
    position: fixed;
    width: 100%;	
    z-index: 998;

}

.bglayer1, .bglayer2, .bglayer3 {		
	background: transparent 0% 0%;
	background-repeat: no-repeat;
	background-size: cover;	
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/*.bglayer2 {	
	background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}*/

/*.bglayer1 {	
	background-size: cover;
    height: 100vh;
    left: -60px;
    position: fixed;
    top: 0;
    width: 100%;	
}*/

.glyphicon-resize-vertical {	
    font-size: 30px !important;
}